/* Variáveis CSS */
    :root {
        /* Cores */
        --cor-primaria: #1abc9c;
        --cor-secundaria: #16a085;
        --cor-destaque: #e67e22; /* A Cor destaque deve ser usada em menos de 10% da identidade visual do site. Regra 60-30-10 */
        --hover-cor-primaria: #16a085;
        --hover-cor-secundaria: #1abc9c;
        --hover-cor-destaque: #e74c3c;

        --cor-fundo-escuro: #212121; /* Não é recomendado usar preto absoluto */
        --cor-fundo-claro: #f4f4f4; /* Não é recomendado usar branco absoluto */
        --hover-cor-fundo-escuro: #424242;
        --hover-cor-fundo-claro: #e0e0e0;

        --cor-texto-escuro: var(--cor-fundo-escuro); /* Não é recomendado usar preto absoluto */
        --cor-texto-claro: var(--cor-fundo-claro); /* Não é recomendado usar branco absoluto */
        --hover-cor-texto-escuro: var(--hover-cor-fundo-escuro);
        --hover-cor-texto-claro: var(--hover-cor-fundo-claro);

        /* Tamanho */
        --largura-maxima-conteudo: 80%;
        --largura-maxima-conteudo-limite: 800px;
        --espacamento-padrao: 20px;
        --espacamento-secoes: var(--espacamento-padrao);

        /* Links */
        --texto-decoracao-link: none; /* none, underline, overline, line-through */

        /* Efeitos */
        --tempo-transicao: 0.3s; /* s, ms */
        --funcao-transicao: ease; /* linear, ease, ease-in, ease-out, ease-in-out, cubic-bezier(n,n,n,n) */

        /* Fonte */
        --fonte-padrao: Arial, sans-serif;
    }