    .display-flex, .flex,
    .df, .d-f{
        display: flex;
    }

/* Display FLEX COLUMN */
    .display-flex-column, .flex-column, .flex.column,
    .dfc, .d-f-c, .df-c, .d-fc, .df.c, .df-column, .d-f.column, .df.column {
        display: flex;
        flex-direction: column;
    }

    .display-flex-column-reverse, .display-flex-reverse-column, .flex-reverse-column, .flex-column-reverse, flex-reverse.column, flex-column.reverse, .flex.reverse.column,
    .dfcr, .dfrc, .d-f-r-c, .d-f-c-r, .df-cr, .df-rc, .d-fcr, .d-frc, .df-column-reverse, .df.column-reverse, .df.column.reverse {
        display: flex;
        flex-direction: column-reverse;
    }

/* Display FLEX ROW */
    .display-flex-row, .flex-row, .flex.row,
    .dfr, .d-f-r, .df-r, .d-fr, .df.r, .df-row, .d-f.row, .df.row {
        display: flex;
        flex-direction: row;
    }

    .display-flex-row-reverse, .display-flex-reverse-row, .flex-reverse-row, .flex-row-reverse, flex-reverse.row, flex-row.reverse, .flex.reverse.row,
    .dfrr, .dfrr, .d-f-r-r, .d-f.r-r, .df-rr, .df.rr, .d-frr, .d.frr, .df-row-reverse, .df.row-reverse, .df.row.reverse {
        display: flex;
        flex-direction: row-reverse;
    }

