.gap,
.g {
    gap: var(--default-gap);
}

.gap-min, .gap-minimum, .gap.minimum,
.g-min, .g.min {
    gap: var(--default-gap-minimum)
}

.gap-max, .gap-maximum, .gap.maximum,
.g-max, .g.max {
    gap: var(--default-gap-maximum)
}

.gap-0,
.g-0 {
    gap: clamp(var(--default-gap-minimum), calc(var(--default-gap-maximum) * 0.0), var(--default-gap-maximum));
}

.gap-1,
.g-1 {
    gap: clamp(var(--default-gap-minimum), calc(var(--default-gap-maximum) * 0.1), var(--default-gap-maximum));
}

.gap-2,
.g-2 {
    gap: clamp(var(--default-gap-minimum), calc(var(--default-gap-maximum) * 0.2), var(--default-gap-maximum));
}

.gap-3,
.g-3 {
    gap: clamp(var(--default-gap-minimum), calc(var(--default-gap-maximum) * 0.3), var(--default-gap-maximum));
}

.gap-4,
.g-4 {
    gap: clamp(var(--default-gap-minimum), calc(var(--default-gap-maximum) * 0.4), var(--default-gap-maximum));
}

.gap-5,
.g-5 {
    gap: clamp(var(--default-gap-minimum), calc(var(--default-gap-maximum) * 0.5), var(--default-gap-maximum));
}

.gap-6,
.g-6 {
    gap: clamp(var(--default-gap-minimum), calc(var(--default-gap-maximum) * 0.6), var(--default-gap-maximum));
}

.gap-7,
.g-7 {
    gap: clamp(var(--default-gap-minimum), calc(var(--default-gap-maximum) * 0.7), var(--default-gap-maximum));
}

.gap-8,
.g-8 {
    gap: clamp(var(--default-gap-minimum), calc(var(--default-gap-maximum) * 0.8), var(--default-gap-maximum));
}

.gap-9,
.g-9 {
    gap: clamp(var(--default-gap-minimum), calc(var(--default-gap-maximum) * 0.9), var(--default-gap-maximum));
}

.gap-10,
.g-10 {
    gap: clamp(var(--default-gap-minimum), calc(var(--default-gap-maximum)), var(--default-gap-maximum));
}