@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --fonte-familia-padrao: "Nunito", sans-serif;
    --cor-escura: #222529;
    --cor-clara: #f8f9fa;
}