header {grid-area: header;}
aside {grid-area: aside;}
main {grid-area: main;}
footer{grid-area: footer;}

/* First Mobile Styles */
body {
    background-color: var(--background-color);
    display: grid;
    grid-template-areas:
    "header"
    "aside"
    "main"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
}

/* Then Desktop Styles */
@media (min-width: 768px) {
    body {
        grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr auto;
    }
}

/* Ultrawide Styles */
@media (min-width: 1400px) {
    body {
        grid-template-areas:
        "header main aside footer";
        grid-template-columns: 1fr;
    }
}