:root {
    /* 
        https://corhexa.com/f4f2ef
        https://encycolorpedia.pt/f4f2ef
    */
    
    /* Cores / Identidade Visual */
    --cor-clara: #f4f2ef;
    --cor-escura: #0b0d10;
    --cor-primaria: 0;
    --cor-secundaria: 0;
    --cor-destaque: 0;
    
    --cor-fundo: var(--cor-clara);
    --cor-fundo-pagina: var(--cor-fundo);

    /* Texto / Cadeia de Caracteres / Títulos / Parágrafos */
    --cor-texto: var(--cor-escura);
    --cor-texto-paragrafo: var(--cor-texto);
    --cor-texto-titulo-1: var(--cor-texto);
    --cor-texto-titulo-2: var(--cor-texto);
    --cor-texto-titulo-3: var(--cor-texto);
    --cor-texto-titulo-4: var(--cor-texto);
    --cor-texto-titulo-5: var(--cor-texto);
    --cor-texto-titulo-6: var(--cor-texto);

    --tamanho-texto: 20px;
    --tamanho-texto-paragrafo: 20px;
    --tamanho-texto-titulo-1: 20px;
    --tamanho-texto-titulo-2: 20px;
    --tamanho-texto-titulo-3: 20px;
    --tamanho-texto-titulo-4: 20px;
    --tamanho-texto-titulo-5: 20px;
    --tamanho-texto-titulo-6: 20px;
    
    --estilo-texto: Arial, Helvetica, sans-serif;
    --estilo-texto-paragrafo: var(--estilo-texto);
    --estilo-texto-titulo-1: var(--estilo-texto);
    --estilo-texto-titulo-2: var(--estilo-texto);
    --estilo-texto-titulo-3: var(--estilo-texto);
    --estilo-texto-titulo-4: var(--estilo-texto);
    --estilo-texto-titulo-5: var(--estilo-texto);
    --estilo-texto-titulo-6: var(--estilo-texto);

    --espacamento-caracteres-texto: 10px;
}