a img {
    transition: transform 0.3s ease;
}

a img:hover {
    transform: scale(1.1);
}

header a:hover {
        background-color: rgb(0, 0, 0) !important;
        transition: .5s;
        li, i{
            color: white;
        }
    }